body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

header {
    background-color: #fff;
    position: relative;
    z-index: 10000;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

header .navbar-light .navbar-nav .nav-link {
    color: #000;
}

header .buy-ticket {
    background-color: #a33a49;
    padding: 0.5em 2em !important;
}

/* HEADER  */
header .navbar-collapse {
    margin-top: 2em;
}

header .bg-light {
    background-color: #ffffff !important;

}

/* INDEX  */

.news div {
    padding: 1em;
    background-color: #f3f3f3;
}

.news a {
    position: relative;
}

.news a:hover {
    background-color: #3a6296;
    text-decoration: none;
    color: #fff;
}

.news a:hover::after {
    content: '>';
    position: absolute;
    font-weight: 900;
    right: 10px;
}

.newsarchieve {
    background-color: #3a6296;
    /* max-width: 90%; */
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.2em;
    max-width: 1080px;
    margin: 1em auto;
}

/* LINE UP */

.line-up ul {
    background-color: #282828;
    color: #fff;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.line-up ul li {
    padding: 1em;
}

.line-up-bands figcaption {
    padding: 0.1em 0.5em;
    text-shadow: 0 2px 6px rgba(0,0,0,1);
    color: #fff;
    font-size: 26px;
    background-color: #a33a49;
}

/* PROGRAM */
.program ul {
    padding: 0;
    background-color: #282828;
    color: #fff;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.program ul li {
    padding: 1em;
}
.program-info tr{
    background-color: #e8e8e8;
}

.program-info tr:hover{
    background-color: #aeaeae;
}
.program-info-heading{
    text-align: center;
    padding: 1em;
    margin-bottom: 0;
}
/* #region */
/* FOOTER */
.follow-us {
    background-color: #121212;
    margin: 0 auto;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.follow-us img {
    margin: 1em;
}

.newsletter {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../images/publiccrowd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5em;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 8em;
}

.newsletter div {
    display: flex;
    flex-direction: row;
    border: 1px solid #9b9694;
    padding: 0.2em;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

.newsletter div input {
    border: none;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 0.2em 0.5em;
    width: 100%;
}

.newsletter div input::placeholder {
    color: #787878;
}

.newsletter div a {
    background-color: rgba(153, 55, 59, .8);
    width: 100%;
    padding: 0.3em;
    text-align: center;
}

.hancock {
    position: relative;
    padding: 10em 5em;
    background-color: #090909;
}

.hancock img {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: -20%;
}
/* #endregion */
/* COLORS */
/* #region */
.red {
    color: #a33a49;
}

.white {
    color: white !important;
}

.bg-red{
    background-color: #a33a49;
}
.bg-green {
    background-color: #6b8846;
}

.bg-purple{
    background-color: #80347c;
}
.bg-blue{
    background-color: #396999;
}
.bg-black {
    background-color: #000;
}
.border-top-bot-red td, .border-top-bot-red th{
    border-top: 1px solid #a33a49 !important;
    border-bottom: 1px solid #a33a49 !important;
}
.border-top-bot-blue td, .border-top-bot-blue th{
    border-top: 1px solid #396999 !important;
    border-bottom: 1px solid #396999 !important;
}
.border-top-bot-green td, .border-top-bot-green th{
    border-top: 1px solid #6b8846 !important;
    border-bottom: 1px solid #6b8846 !important;
}
.border-top-bot-purple td, .border-top-bot-purple th{
    border-top: 1px solid #80347c !important;
    border-bottom: 1px solid #80347c !important;
}
/* HOVERS */
.hover-red:hover {
    background-color: #a33a49
}

.hover-purple:hover {
    background-color: #80347c
}

.hover-blue:hover {
    background-color: #396999;
}

.hover-green:hover {
    background-color: #6b8846;
}
/* #endregion */
/* EXTRAS */

/* #region */
.pad-right {
    padding-right: 1em;
}
.pad-sides{
    padding-left: 2em !important;
    padding-right: 2em !important;
}
.vert-middle{
    vertical-align: middle !important;
}
.full-width{
    width: 100%;
}
.full-img {
    width: 100%;
    height: auto;
}
.block{
    display: block;
}
.darken {
    filter: brightness(50%);
}

.a-remove {
    color: white;
    text-decoration: none;
}

.a-remove:hover {
    text-decoration: none;
    color: white;
}

.blur {
    position: relative;
}

.btn-a-black {
    background-color: #000000;
    color: white;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 0.5em;
}

.blur::after {
    position: absolute;
    content: "";
    bottom: -3px;
    left: -7px;
    width: 100%;
    height: 30%;
    filter: blur(10px);
    background-color: #f3f3f3;
}

.font-62 {
    font-size: 62px;
}
.font-36{
    font-size: 36px;
}
.font-32{
    font-size: 32px;
}
.font-14{
    font-size: 14px;
}
/* #endregion */
/* MEDIA */
@media screen and (max-width: 990px) {
    .font-62 {
        font-size: 32px;
    }
    .font-36{
        font-size: 18px;
    }
}

/* TOASTER */

#toaster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    width: 150px;
    display: none;
    background-color: #3aa743;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 300ms;
}

/*  */