body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

/* COLORS */

.red {
    color: red;
}

.white {
    color: white;
}

.bg-green {
    background-color: #80a451;
}

.bg-black {
    background-color: #000;
}

/* TOASTER */

#toaster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    width: 150px;
    display: none;
    background-color: #3aa743;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 300ms;
}

/*  */