body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

header {
    background-color: #fff;
    position: relative;
    z-index: 10000;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

header .navbar-collapse {
    margin-top: 2em;
}

header .bg-light {
    background-color: #ffffff !important;

}

/* COLORS */

.red {
    color: #a33a49;
}

.white {
    color: white;
}

.bg-green {
    background-color: #80a451;
}

.bg-black {
    background-color: #000;
}

/* EXTRAS */
.full-img{
    width: 100%;
    height: auto;
}

/* TOASTER */

#toaster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    width: 150px;
    display: none;
    background-color: #3aa743;
    color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 300ms;
}

/*  */